:root {
    /*Asignamos colores mediante nombres de variables*/
    --navbar-background-color: #003366; /* Azul oscuro */
    --navbar-text-color: #d9d9d9; /* Gris claro */
    --navbar-hover-active-color: #4ecdc4; /* Verde turquesa */
    --instagram-gradient: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    --whatsapp-color: #25D366;
    --github-color: #788199;
    --background-color1: #edf0f6;
    /*Posibles colores: #E0FFFF f5f5f5 #e4fbfb #fff6ed edf0f6*/ 
    --background-color2: #e6e9f0;
    /* F4F7F6*/
    --border-color: #d1d9e6; /* Un color de borde más suave */
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/lora-regular-webfont.woff') format('woff');
}

#div-titulo h1{
  padding-bottom: 8px;
}

/* Reset básico para asegurarse de que el padding y el margin son iguales en todos los navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Esto asegura que el padding no afecte al ancho total de los elementos */
}

h1 {
  font-family: 'Lora', serif; 
}

body, html {
  scroll-behavior: smooth; 
}

#navbar {
    background-color: var(--navbar-background-color);
    padding: 0 10px;
}


#navbar .home-link {
    margin-right: 10px;
    font-size: 1.5em; /* Ajustamos el tamaño del icono para hacerlo más grande */
    color: inherit; /* El color será el mismo que el de los enlaces */
}

/* Esto afecta a todas las etiquetas <a> dentro del lavbar */
#navbar a {
    padding: 14px 16px;
    margin-right: 8px; /* Añadimos margen para separar los elementos */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    transition: background-color 0.3s, transform 0.3s; /* Suaviza la transición de color y transformación al quitar el ratón */
    display: flex; 
    align-items: center;
    justify-content: center; 
    /*flex: 0 0 auto; */
    color: var(--navbar-text-color); /*Asignamos como color la variable navbar-text-color*/
    border-radius: 4px; /* Esquinas redondeadas para un aspecto suave */
}

#navbar a:hover, #navbar a.active {
    background-color: var(--navbar-hover-active-color);
    color: #ffffff;
}

#navbar a:hover {
    transform: scale(1.05);
}

#navbar h1 {
    margin: 0 20px 0 10px; /* Añadimos margen a los lados del título */
    flex-grow: 1; /* El título ocupará el espacio disponible */
}

section {
    text-align: center; /* Alinea el texto al centro */
    height: 100%; /* Altura de prueba para cada sección */
    width: 100%;
    padding-top: 60px;

}

#proyectos{
  min-height: 720px;
}


#contacto{
  min-height: 720px;
}
/*Sección sobre mi*/

#sobre-mi{
  background: var(--background-color1);
  min-height: 580px;
}

#sobre-mi .vr {
  border-left: 2px solid #000; 
}

#sobre-mi p{
  line-height: 1.6;
}

@media (max-width: 767px) {
  .foto-perfil {
    padding: 10px; /* Mejorar el espaciado en móviles */
  }

}

#tecnologias {
  min-height: 730px;
  background: var(--background-color1); 
}

.technology-box {
  border: 2px solid var(--border-color); /* Color de borde más suave */
  position: relative;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: var(--color-gradient-start);
  padding-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  place-content: center;
  justify-content: space-around;
}

/* Estilos para el encabezado de la tecnología */
.technology-header {
  font-weight: bold;
  position: absolute;
  top: -21px;
  background: var(--color-background-default);
  padding: 5px 10px; /* Añade padding para el encabezado */
  border-radius: 4px; /* Bordes redondeados para el encabezado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para el encabezado */
}


.technology-image {
  flex: 0 0 33.333%;
  text-align: center;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
  position: relative;
  padding: 5px;
}

.technology-image img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.technology-image:hover {
  transform: scale(1.1); /* Slightly increase the size of the image */
}


/*Sección inicio*/

#inicio p{
  font-family: 'Lora', serif;
}

#inicio{
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  flex-direction: column; /* Orienta los hijos en columna */
  height: 100vh; /* Utiliza todo el alto de la ventana del navegador */
  width: 100%; /* Utiliza todo el ancho de la ventana del navegador */
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
                    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
}

  .intro-section h1 {
    margin-top: 20px; /* Ajusta según necesites */
    color: #79e2da; 
  }

  #div-titulo p{
    padding-bottom: 1.5rem;
    color: #79e2da;
    font-size: 17px;
  }

  .barra{
    color: rgba(121, 226, 218, 0.7);
    margin: 14px;
  }

.contact-icon {

    list-style: none;
    display: flex;
    justify-content: center; /* Centra los iconos horizontalmente */
    position: relative;
}
  .contact-icon li {
    list-style: none;
    margin: 20px;/*poiner padding a lu*/
    cursor: pointer;
  }
  .contact-icon li a {
    text-decoration: none;
  }
  .contact-icon li .fa-brands {
    font-size: 2.5em;
    color: #ffffff;
  }

  .contact-icon li::before{
    pointer-events: none;
    font-family: "FontAwesome";
    position: absolute;
    top: 10px;
    font-size: 2.5em;
    height: 0;
    overflow: hidden;
    transition: 0.8s ease-out;
  }

  .contact-icon li:nth-child(1):before {
    content: "\f16d";
    background-image: linear-gradient(50deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contact-icon li:nth-child(2):before {
    content: "\f232";
    color: var(--whatsapp-color);
  }
  .contact-icon li:nth-child(3):before {
    content: "\f09b";
    color: var(--github-color); 
  }
  .contact-icon li:hover:before {
    height: 100%;
  }

.fancy {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: white;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #212121;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #212121;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #212121;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background-color: rgba(121, 226, 218, 0.7)
}

.fancy:hover::before {
  width: 0.9375rem;
  background: black;
}

.fancy:hover .text {
  color: black;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/**/

#descarga {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

#descarga:focus,
#descarga:hover {
  color: #1da1f2;
}

#descarga:focus:after,
#descarga:hover:after {
  width: 100%;
  left: 0%;
}

#descarga:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* Estilos personalizados para la timeline */
#formacion{
  background-color: var(--background-color2);
}

/* Esto centrará el texto del primer li */
#formacion li:first-child {
  text-align: center;
}

/* Esto alineará a la derecha todos los li que no son el primero */
#formacion li:not(:first-child) {
  text-align: left;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px; /* Hacer la línea más gruesa */
  background-color: #17a2b8; /* Un color más llamativo */
  transform: translateX(-50%);
}

.timeline-event {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.timeline-card {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px; /* Ajusta este valor según tus necesidades */
  border: 1px solid #17a2b8; /* Borde con color para definir las tarjetas */
  transition: box-shadow .3s, transform .3s; /* Suavizar las transiciones */
}

.timeline-card:hover {
  transform: translateY(-15px); /* Efecto de elevación al hacer hover */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra más pronunciada en hover */
}

.card-title {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
}

.timeline-date {
  font-style: italic;
}

@media (max-width: 767px) {
  .timeline-event {
    padding: 0 5%; /* Mejorar el espaciado en móviles */
  }

}

/*SECCIÓN PORTFOLIO*/

.card-header {
  position: relative;
  background-color: #f5f5f5; /* Fondo claro para las pestañas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
}

.card-text{
  text-wrap: pretty;
  white-space: normal;
}

.content{
  background-color: var(--background-color2);
}

.tab-content{
  padding: 30px;
}

.proyecto{
  background-color: transparent;
}

.nav-link:hover {
  background-color: #c7c7c7; /* Un azul más intenso */
}

